$desktop: 1440px;
$tablet: 550px;
$mobile: 375px;

$tomato: hsl(4, 100%, 67%);
$trans-tomato: hsla(4, 100%, 67%, 0.24);
$light-tomato: hsl(15, 100%, 67%);
$bg-gradiente: linear-gradient(
  217deg,
  hsl(4, 100%, 67%),
  hsl(15, 100%, 67%) 70.71%
);

$dark-slate-grey: hsl(234, 29%, 20%);
$charcoal-grey: hsl(235, 18%, 26%);
$grey: hsl(231, 7%, 60%);
$white: hsl(0, 0%, 100%);

$paragraph: 16px;